/** 
 * Variables
 */

// Colors
$color-base: #222;
$color-primary: #5D93FF;
$color-secondary: #F7A046;

$color-white: #FFF;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

$color-red-d1: #e53935;

$color-amber-d3: #ff8f00;
$color-amber-d4: #ff6f00;

$color-orange-d3: #ef6c00;

$color-brown-d1: #6d4c41;

$color-blue-gray-d1: #546e7a;

$color-gray-l5: #fafafa;
$color-gray-d1: #757575;
$color-gray-d3: #424242;

// Typographic
$typographic-font-family: 'Nanum Gothic', sans-serif;
$typographic-font-family-sub: 'Sunflower', sans-serif;
$typographic-font-family-title: 'Noto Sans KR', sans-serif;
$typographic-font-family-pen: 'Nanum Pen Script', cursive;
$typographic-font-family-brush: 'Nanum Brush Script', cursive;
$typographic-font-family-bold: 'Do Hyeon', sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 1075px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1200px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1200px;