@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__date {
    max-width: $layout-post-width;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    font-family: $typographic-font-family-bold;
    text-align: left;
    color: $color-blue-gray-d1;
  }

}